# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
*.log

/public/uploads/**/*
.idea
*.orig
/public/assets
/coverage
/vendor/bundle/
/vendor/cache/
dump.rdb
/tmp/cache